/* ===================================    Responsive  ======================================= */
/* =========================================================================================== */

@media only screen and (min-width: 300px) and (max-width: 1200px) {


    /*=========================== News Letter Bootom start =========================================
 */
    .shop-newsletter .newsletter-inner input {
        width: 300px;
    }

}



/* Mobile Screen */
@media only screen and (max-width: 767px) {

    
    /* Email; */
    .shop-newsletter .newsletter-inner input {
        width: 330px;
        height: 42px;
        padding: 0 20px;
        border-radius: 30px;
        margin-bottom: 10px;
        display: block;
        text-align: center;
    }

    .shop-newsletter .newsletter-inner .btn {
        height: 42px;
        padding: 10px 15px;
        width: 330px;
        border-radius: 30px;
        left: 0;
        display: block;
    }

}



@media only screen and (max-width: 450px) {


    /* Email */
    .shop-newsletter .newsletter-inner .btn {
        height: 42px;
        padding: 10px 15px;
        width: 100%;
        border-radius: 30px;
        left: 0;
        display: block;
    }




}




@media (max-width: 992px) {
    .footery3m .right-side {
      margin-top: 2em;
    }
  
    .footery3m .right-side h4 {
      font-size: 32px;
      line-height: 42px;
    }
  }
  
  @media (max-width: 768px) {
    .footery3m .sub-columns {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin-top: 40px;
    }
  
    .footery3m .columns p a,
    .footery3m .columns ul li a {
      font-size: 15px;
    }
  
    .footery3m .below-section {
      align-items: center;
      margin-top: 40px;
      padding-top: 20px;
      text-align: center;
    }
  
    .footery3m ul.jst-link {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 600px) {
    .footery3m .right-side h4 {
      font-size: 24px;
      line-height: 30px;
    }
  
    .footery3m .sub-one-left h6,
    .footery3m .sub-two-right h6 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  
    .footery3m ul.social li,
    .footery3m ul.jst-link li {
      margin-right: 4px;
    }
  }